<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<meta charset=utf-8 />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OANDA API</title>
	<link rel="stylesheet" type="text/css" href="{% static "jsTest/bootstrap/css/bootstrap.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "jsTest/css/main.css" %}" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "jsTest/bootstrap/js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "jsTest/js/oanda.js" %}"></script>
	{% block includes %}{% endblock %}
    <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div class="navbar navbar-fixed-top oanda-nav">
		<div class="navbar-inner">
			<div class="container-fluid">			
				<a class="brand oanda-brand" href="#">OANDA API</a>
				<div class="nav-collapse collapse">
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
	    <div class="row-fluid">
	        <div class="span3">                
                <div id="account">
                    <form onSubmit="createAccount(this);return false;">
                        <input type="text" id="currencyInput" class="span3 oa-full-width" name="currency" placeholder="Currency">
                        <button type="submit" id="createAccountBtn" class="span9 btn oa-full-width">Create and Use Account</button>
                    </form>
                    <form id="useAccount" action="useAccount" method="POST">        
                        {% csrf_token %}                
                        <input type="hidden" id="accountId" name="account_id" value="{{ account_id }}">
                    </form>
                    <table id="accountSummary" class="table table-striped table-condensed">
                    </table>
                </div>
                
                <div id="trades">
                    {% block trades %}These blocks will probably be replaced by JS later.{% endblock %}
                </div>
	        </div>
	        
            <div id="rates" class="span4 oa-container">
                {% block rates %}These blocks will probably be replaced by JS later.{% endblock %}
            </div>
            
            <div class="span5 oa-container">
                <div id="createTrade">
                    {% block createTrade %}These blocks will probably be replaced by JS later.{% endblock %}
                </div>
                <div id="candles">             
                    {% block candles %}These blocks will probably be replaced by JS later.{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{% static "jsTest/js/base.js" %}"></script>
</html>

