<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<meta charset=utf-8 />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OANDA API</title>
	<link rel="stylesheet" type="text/css" href="{% static "jsTest/bootstrap/css/bootstrap.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "jsTest/css/main.css" %}" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
	<script type="text/javascript" src="{% static "jsTest/bootstrap/js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "jsTest/js/oanda.js" %}"></script>
	{% block includes %}{% endblock %}
    <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div class="navbar navbar-fixed-top oanda-nav">
		<div class="navbar-inner">
			<div class="container-fluid">			
				<a class="brand oanda-brand" href="#">OANDA API</a>
				<div class="nav-collapse collapse">
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
	    <div class="row-fluid">
	        <div id="leftSide" class="span3">                
                <div id="account">
                    {% block account %}Missing account information block.{% endblock %}
                </div>
                
                <div id="createTrade" class="oa-container">
                    {% block createTrade %}Missing trading form.{% endblock %}
                </div>
	        </div>
	        
            <div id="rates" class="span5 oa-container">                
                {% block rates %}Missing rates information block.{% endblock %}
            </div>
            
            <div class="span4">    
                <div id="trades">
                    {% block trades %}Missing trades information block.{% endblock %}
                </div>
                <div id="candles">             
                    {% block candles %}Missing candlestick graph.{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{% static "jsTest/js/base.js" %}"></script>
</html>

