@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}

.oa-full-width {
    width: 100%;
}

.oa-container {
    text-align: center;
}

.hidden.noBlock {
    display: none;
}

#leftSide {
    min-width: 250px;
}

#createAccountForm, #useAccount {
    margin: 0px 0px 5px;
}

#currencyInput {
    margin: 0px;
}

#createAccountBtn {
    display: inline-block;
    margin: 0px;
    float: right;
}

#accountSummary {
    border: 1px solid #ccc;
}

#createTrade {
    border: 1px solid #ccc;
}

#tradeForm {
    width: 100%;
    margin: auto;
    padding: 0px 0px 10px 0px;
}

#transactionType {
    display: block;
    width: 100%;
    margin: 0px 0px 10px 0px;
}

#transactionType div:first-child {
    border-left: none;
    border-right: 1px;
}

#transactionType div {
    border-radius: 0px;
    border-top: none;
    padding: 4px 0px;
}

#pairSelector {
    width: 110px;
    margin: auto;
}

#transactionSide {
    display: block;
    width: 220px;
    margin: 10px auto;
}

#transactionSide div {
    width: 84px;
}

#typeSelector {
    display: block;
    margin: 10px auto 0px;
}

#typeSelector.hidden {
    display: none;
}

#tradeFields {
    display: block;
    width: 220px;
    margin: 10px auto 0px;
}

#tradeFields input {
    width: 94px;
}

#required, #optional {
    display: inline-block;
    width: 108px;
    vertical-align: text-top;
}

#txListContainer {
    border: 1px solid #ccc;
}

#txList {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #eee;
}

#txListContainer .btn-group .btn:first-child {
    margin-right: 1px;
    border-right: 1px solid #ccc;
}

#txListContainer .btn-group .btn {
    padding: 2px 0px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
}

#tradeTemplate, #orderTemplate {
    display: none;
}

#txList .openTrade {
    padding: 5px;
    font-size: 14px;
    color: #676767;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

#txList .instrument {
    font-size: 15px;
    font-weight: bold;
}

#txList .instrument, #txList .price, #txList .expiry, #txList .takeProfit, #txList .stopLoss {
    margin-right: 8px;
}

#txList .oa-close-btn {
    float: right;
    opacity: 0.65;
}

#rates form {
    margin: 0px;
}

#focusSelector {
    margin: 0px;
}

#rates #ratesSelector {
    margin: 7px 0px 0px 0px;
}

#rates #ratesListContainer {
    margin: 7px 0px;    
    border: 1px solid #ccc;
    max-height: 810px;
    overflow-y: scroll;
}

#rates #pairsNotSelected, #rates #pairsSelected {
    height: 300px;
    margin: 0px 10px;
}

#rates .rates-selector-btn-container {
    display: inline-block;
    vertical-align: middle;
}

#rates .rates-selector-btn {
    display: block;
    width: 125px;
    margin-top: 5px;
}

#rates #ratesForm {
    display: inline-block;
}

#ratesList #rateTemplate {
    display: none;
}

#ratesList .pair-rate {
    display: inline-block;
    width: 46%;
    min-width: 164px;
    margin: 4px;
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}

#ratesList .instrument {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}

#ratesList .prices {
    display: inline-block;
    float: right;
}

#ratesList .ask {
    display: inline-block;
    margin-right: 20px;
}

#ratesList .bid {
    display: inline-block;
}

#ratesList .old-price {
    display: none;
}

#ratesList small {
    font-size: 11px;
}

#ratesList bold {
    font-size: 20px;
    margin: 0px 2px;
    font-weight: bold;
}

.ask div {
    font-size: 10px;
}
